# =============================================================================
# MAIN-ALIAS
# =============================================================================

alias c='clear'
alias ls='ls -hH --color=auto'
alias ll='ls -l'
alias la='ls -la'
alias lo='ls . | xargs -n1 basename' # list files without extra informations
alias loa='ls -a . | xargs -n1 basename'    # list 'all' files without extra 
                                            # informations
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias vi='vim'
alias g='gvim --remote-silent'
alias diff='colordiff'
alias grep='grep --color=auto'
alias df='df -h'
alias du='du -ch'
alias mkdir='mkdir -pv'
alias ping='ping -c 5'
alias bashrc='vim ~/.bashrc && . ~/.bashrc'
alias aliases='vim ~/.aliases && . ~/.aliases'
alias reload='. ~/.bashrc'
alias dotfiles='cd ~/.dotfiles'
alias wp='cd ~/workspace/projects/'

# set screensaver off #
alias soff='xset s off'
# set screensaver on #
alias son='xset s on'

# request a page with a ajax header (search engine testing) #
alias curlajax='curl -H "X-Requested-With: XMLHttpRequest"'
# get web server headers #
alias header='curl -I'

alias now='date +"%T"'

# =============================================================================
# PACKER-ALIAS
# =============================================================================

alias up='packer -Syu'

# =============================================================================
# PYTHON-ALIAS
# =============================================================================

alias pyserver='python2 -m SimpleHTTPServer'
alias pyclean='find . -name "*.pyc" -delete'

# shortcut for the short . runserver #
alias run='. runserver.sh'

# shortcut for bin/django
alias dj='bin/django'

# =============================================================================
# PHP-ALIAS
# =============================================================================

alias runphp='php -S localhost:8001'

# =============================================================================
# GIT-ALIAS
# =============================================================================

alias gti='git'
alias gut='git'
alias gitignore='vim .gitignore'

# =============================================================================
# GAME THINGS
# =============================================================================

alias p='primusrun'
alias wine='p wine'
alias playonlinux='p playonlinux'
alias minecraft='p minecraft'
alias stalker='WINEPREFIX=~/.wine-stalker wine ~/.wine-stalker/drive_c/Program\ Files/THQ/S.T.A.L.K.E.R.\ -\ Shadow\ of\ Chernobyl/bin/XR_3DA.exe'
alias walkingdead='WINEARCH=win32 WINEPREFIX=/home/dan/.wine-twd/ wine C:\\windows\\command\\start.exe /Unix /home/dan/.wine-twd/dosdevices/c\:/Program\ Files/Telltale\ Games/The\ Walking\ Dead/The\ Walking\ Dead.lnk'
