{
    "env": {
        "browser": true,
        "es6": true,
        "mocha": true
        "node": true,
    },
    "ecmaFeatures": {
        "modules": true
    },
    "rules": {
        "brace-style": [2, "1tbs"],
        "comma-style": [2, "last"],
        "indent": [2, 4, { "SwitchCase": 1 }],
        "no-constant-condition": 2,
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "space-after-keywords": [2, "always"],
        "space-before-blocks": [2, "always"],
        "strict": [2, "never"],
    },
    "globals": {}
}
