Makefile.config
accels.scm
config/Thunar/renamerrc
config/nvim/.netrwhist
config/nvim/autoload/plug.vim.old
config/nvim/bundle
config/nvim/lua/packer_compiled.lua
config/nvim/session
config/nvim/sessions
config/nvim/undo
config/nvim.old/.netrwhist
config/nvim.old/autoload/plug.vim.old
config/nvim.old/bundle
config/nvim.old/session
config/nvim.old/sessions
config/nvim.old/undo
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
scripts/gitconfig_user*
ssh/known_hosts
tmux/plugins/
