[color]
    ui = True
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[format]
    pretty = oneline

[include]   
    path = ~/.gitconfig_user

[core]
    excludesfile = ~/.gitignore-global
    pager = less -r
    editor = vim

[alias]
    undo = reset --hard HEAD^
    ci = commit
    cim = commit -m
    cia = commit -am
    st = status
    br = branch
    co = checkout
    cob = checkout -b
    df = diff
    lg = log
    ec = config --global -e # open gitconfig in editor
    pl = pull
    ps = push

[push]
    default = simple
[merge]
    conflictstyle = diff3
    tool = meld
