[color]
    ui = True

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[format]
    pretty = oneline

[include]
    path = ~/.gitconfig_user

[core]
    excludesfile = ~/.gitignore-global
    pager = less -r
    editor = nvim

[alias]
    st = status -s
    ec = config --global -e # open gitconfig in editor

    # checkout
    cob = checkout -b

    # diff
    d = diff
    ds = diff --stat
    dlc = diff --cached HEAD^ # diff last commit

    # commit
    cim = commit -m
    cia = commit -am

    # merge
    mm = merge master

    # log
    l = log
    lt = log -10 HEAD # last ten
    ls = log --stat # log stat
    lst = log -10 --stat # log status last ten
    last = log --pretty -1 HEAD

    # stash
    ss = stash save
    sp = stash pop
    sa = stash apply
    sl = stash list

    # reset
    undo = reset HEAD^
    kill = reset --hard HEAD^

    # push current branch
    pcb = "!git push -u origin $(git symbolic-ref --short HEAD)"

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"

[push]
    default = simple

[merge]
    conflictstyle = diff3
    tool = meld
