accels.scm
config/Thunar/renamerrc
config/nvim/.netrwhist
config/nvim/autoload/plug.vim.old
config/nvim/bundle
config/nvim/session
config/nvim/sessions
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
ssh/known_hosts
custom/gitconfig_user
tmux/plugins/
