Makefile.config
accels.scm
config/Thunar/renamerrc
config/nvim/.netrwhist
config/nvim/bundle
config/nvim/session
config/nvim/sessions
config/nvim/undo
config/nvim/lazy-lock.json
config/nvim/lua/projects.lua
config/ranger/bookmarks
config/ranger/history
config/ranger/tagged
scripts/gitconfig_user*
ssh/known_hosts
tmux/plugins/
Brewfile.lock.json
